doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title СтройРем
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel='stylesheet' href='styles/main.css')
	body
		header
			.header
				.header__wrap
					.header__unit.header__unit_logo
						a(href="/")
							img(src="img/logo.png" alt="")
					.header__unit.header__unit_phone.header-phone
						p.header-phone__phone
							span.ion.ion-android-phone-portrait
							span +7 (999) 999-99-99
						p.header-phone__time
							span.ion.ion-android-calendar
							span Пн-Пт: 10.00 - 20.00
					.header__unit.header__unit_btn
						a.btn
							span.ion.ion-ios-telephone-outline
							| Заказать обратный звонок
		.page
			section.page__slider
				#carouselExampleIndicators.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
						li(data-target='#carouselExampleIndicators', data-slide-to='1')
						li(data-target='#carouselExampleIndicators', data-slide-to='2')
					.carousel-inner
						.carousel-item.active
							img.d-block.w-100(src='img/slider1.jpg', alt='First slide')
							.carousel-caption.d-none.d-md-block
								h5 Ремонт аптек
								p Наша компания предоставляет услуги внутренней и внешней отделки аптек.
								ul
									li Разработка дизайн-проекта;
									li Использование качественных стройматериалов
									li Низкие цены
									li Большой опыт проведения ремонтных работ в аптеках
									li Гарантия качества - 3 года!
						.carousel-item
							img.d-block.w-100(src='img/slider2.jpg', alt='Second slide')
							.carousel-caption.d-none.d-md-block
								h5 2
								p ...
						.carousel-item
							img.d-block.w-100(src='img/slider3.jpg', alt='Third slide')
							.carousel-caption.d-none.d-md-block
								h5 3
								p ...
					a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.sr-only Next


			article.page__content
				h1 Основной загаловок
				p Lorem ipsum odio porttitor odio justo duis nam curabitur, porta rutrum: commodo donec nulla ipsum leo amet risus odio cursus magna enim orci lorem. Eu adipiscing, non elementum lorem gravida sit curabitur gravida mattis cursus. At pellentesque sodales duis maecenas, curabitur sem elementum porttitor nec non.
				p Lorem ipsum odio porttitor odio justo duis nam curabitur, porta rutrum: commodo donec nulla ipsum leo amet risus odio cursus magna enim orci lorem. Eu adipiscing, non elementum lorem gravida sit curabitur gravida mattis cursus. At pellentesque sodales duis maecenas, curabitur sem elementum porttitor nec non.
				h2 Второстепенный загаловок
				p Ipsum integer sagittis risus leo lectus adipiscing arcu commodo sodales ut sapien: rutrum eu. Fusce, at morbi magna amet sagittis sit orci risus sed, ultricies molestie congue risus ut donec arcu odio vitae auctor donec. Vulputate enim porttitor risus sagittis vivamus ultricies arcu quam mauris rutrum gravida amet bibendum cursus pharetra maecenas sagittis commodo magna — non proin. Molestie nec, justo risus massa, ultricies enim adipiscing lorem commodo ligula justo at: justo nibh sed massa bibendum eget sit, adipiscing nibh, nec. Ipsum molestie mattis ultricies proin tempus vitae cursus vitae sem molestie eu sem leo orci a.

			section.page__advantages.advantages
				.advantages__title
					h2 Преимущества работы с компанией
				.advantages__wrap
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-person-stalker
						.advantage__descr
							h3.advantage__title Профессиональные строители
							p.advantage__text В нашей компании работают только высококвалифицированные специалисты
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text
					.advantages__unit.advantage
						.advantage__icon
							span.ion.ion-arrow-right-c
						.advantage__descr
							h3.advantage__title Title
							p.advantage__text Text

		footer
			.footer
				.footer__unit.footer-phone
					p.footer-phone__phone
						span.ion.ion-android-phone-portrait
						span +7 (999) 999-99-99
					p.footer-phone__time
						span.ion.ion-android-calendar
						span Пн-Пт: 10.00 - 20.00
				.footer__unit
					p &copy; 2000-2018. «СтройРем» - комплексный ремонт квартир и строительство объектов недвижимости. Все права защищены, любое копирование материалов без разрешения администрации запрещено.

		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
		script(src='js/script.min.js')